<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <% if user_signed_in? %>
      <a class="btn btn-outline-dark" href="/boards/new">新規作成</a>
      <%= link_to 'ユーザ', edit_user_registration_path, class: 'btn btn-outline-dark' %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-dark' %>
      <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>内容</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr>
      <th><%= board.id %></th>
      <td><%= board.title %></td>
      <td><%= board.name %></td>
      <td><%= board.body %></td>
      <td><%= board.created_at %></td>
      <td><%= board.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
