<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for(@board, url:{controller: :boards, action: :create},maltipart: true) do |form| %>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :body %>
          <%= form.text_area :body, class: "form-control" %>
        </div>

        <div class="action" style="padding-top:20px;">
          <%= form.submit class: "btn btn-outline-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
